.banner {
    position: relative; /* Đặt phần banner ở vị trí tương đối để các phần tử bên trong có thể được căn chỉnh */
    width: 100%; /* Đảm bảo banner chiếm toàn bộ chiều rộng của phần tử chứa */
    height: 570px; /* Đặt chiều cao cố định cho banner tính từ trên xuống số càng lớn thì càng dịch xuống dưới */
    
}

/* Phần trình chiếu ảnh */
.slides {
    display: flex; /* Sử dụng Flexbox để xếp các slide theo hàng ngang */
    transition: transform 0.1s ease-in-out; /* Thêm hiệu ứng chuyển tiếp mượt mà khi thay đổi slide */
}

/* Mỗi slide */
.slide {
    width: 100%; /* Đặt chiều rộng mỗi slide bằng với chiều rộng của phần tử chứa */
    height: 570px; /* Đặt chiều cao mỗi slide bằng với chiều cao của phần tử chứa */
    object-fit: cover; /* Đảm bảo ảnh được cắt và lấp đầy khu vực mà không bị biến dạng */
}

/* Nút điều hướng slide trước và tiếp theo */
.prev, .next {
    position:absolute; /* Đặt nút ở vị trí tuyệt đối so với phần tử chứa của nó (banner) */
    top: 50%; /* Đặt nút ở giữa chiều cao của phần tử chứa */
    width: 50px; /* Chiều rộng của nút */
    height: 50px; /* Chiều cao của nút */
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ cho nút */
    color: #fff; /* Màu chữ của nút */
    font-size: 30px; /* Kích thước chữ của nút */
    cursor: pointer; /* Hiển thị con trỏ chuột như một nút bấm khi di chuột qua */
    transform: translateY(-50%); /* Dịch chuyển nút lên một nửa chiều cao của nó để căn giữa dọc */
    z-index: 1; /* Đảm bảo nút nằm trên cùng của các phần tử khác */
}

.prev {
    left: 10px; /* Đặt nút "Trước" cách lề trái 10px */
    border-radius:10px; /* Bo tròn viền góc nút "Trước" */
}

.next { 
    right: 10px; /* Đặt nút "Tiếp theo" cách lề phải 10px */
    border-radius:10px; /* Bo tròn viền góc nút "Sau" */
}